article {
	float: right;
	max-width: 83%;
	columns: 4;
}

article img {
	max-width: 100%;
}

aside {
	float: left;
	max-width: 17%;
}

figcaption {
	float: left;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

.header h1 {
	color: navy;
}

.objective h2 {
	color: navy;
}

.education h2 {
	color: navy;
}

.employment h2 {
	color: navy;
}

.volunteer h2 {
	color: navy;
}



footer {
	color: navy;
}

